/* Allgemeine Einstellungen */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /*background-color: #e0ebf9; /* Blauer Hintergrund für den gesamten body */
}

/* Styling für die Tabellen */
/* Allgemeines Styling für Tabellen */
table {
    width: 80%; /* Setzt die Breite aller Tabellen auf 80% des Elternelements */
    margin: 20px auto; /* Zentriert die Tabelle horizontal */
    border-collapse: collapse; /* Entfernt den Abstand zwischen den Zellen */
}

th, td {
    padding: 10px;
    border: 1px solid #ccc; /* Fügt einen grauen Rahmen hinzu */
    text-align: left; /* Textausrichtung */
}

th {
    background-color: #e0ebf9; /* Hintergrundfarbe der Kopfzeile */
    color: #333; /* Schriftfarbe der Kopfzeile */
}

caption {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left; /* Richtet die Tischbeschriftung links aus */
}


/* Navigationsleiste */
nav {
    background-color: #0056b3; /* Blauer Hintergrund für die Navigationsleiste */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left; /* Elemente nebeneinander statt untereinander */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #003d7a; /* Dunkleres Blau beim Hover */
}

/* Zusätzliche Anpassungen um die Reiter besser zu gestalten */
nav ul li a:active,
nav ul li a:focus {
    background-color: #004c99; /* Noch dunkleres Blau bei aktivem Reiter */
}

}

/* Stile für den Fußbereich */
footer {
    background-color: #0056b3; /* Dunkelblauer Hintergrund */
    color: white; /* Weiße Schrift */
    text-align: center; /* Zentriert den Text */
    padding: 20px 0; /* Abstand oben und unten */
}

.footer-content {
    margin: auto;
    width: 80%; /* Steuert die Breite des Inhalts innerhalb des Footers */
}

footer p {
    margin: 10px 0; /* Fügt einen Abstand zwischen den Paragraphen hinzu */
}


/* Stil für Überschriften im body */
h1, h2, h3, h4, h5, h6 {
    color: #333; /* Dunklere Schriftfarbe für Überschriften */
}


header, footer {
    background-color: #e0ebf9;
}
