
/*
Tabllen Layout
 */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc; /* Grauer Rahmen für die Tabelle */
}

th, td {
  border: 1px solid #ccc; /* Grauer Rahmen für jede Zelle */
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e0ebf9; /* Dezentes Blau für die Überschrift */
  color: #333;
}

caption {
  font-size: larger;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
  background-color: #e0ebf9; /* Dezentes Blau für die Tabellenbeschriftung */
}

